body {
	position : fixed;
	left     : 0;
	right    : 0;
	top      : 0;
	bottom   : 0;
	z-index	 :-1;
	background-image    : url('images/Moriokamen.jpg');
	background-repeat   : no-repeat;
	background-size     : cover;
	background-position : center top;
}

div.menu {
	position: fixed;
	left: 0;
	bottom: 0;
	top: 0;
	padding-top: 31px;
	width: 220px;
	min-height: 650px;
	outline: 2px solid black;
	background-color: rgba(0,0,0,0.8);
	border-left: 5px solid gray;
	z-index: -2;
}

div.logo {
	margin-left: 25px;
	width: 165px;
	height: 165px;
}

nav.menu {
	margin-top: 25px;
	margin-left: 15px;
	width: 187px;
	min-height: 300px;
}

nav.menu li {
	border-bottom: 1px solid gray;
}

nav.menu li a {
	display: block;
	color: #888;
	padding: 15px;
	text-decoration : none;
}

nav.menu li a span {
	display: block;
	color: #eee;
	font-weight: bold;
	padding-bottom: 3px;
	text-transform:uppercase;
	-webkit-transform:scale(1,1.5);
	-moz-transform:scale(1,1.5);
	-ms-transform:scale(1,1.5);
	-o-transform:scale(1,1.5);
	transform:scale(1,1.5);
}

div.icon {
	margin: 40px auto 0;
	width: 170px;
	height: 40px;
	padding-left: 20px; 
}

div.text {
	position 	: absolute;
	right 		: 20px;
	top 		: 20px;
	width		: 350px;
	min-height	: 120px;
	outline		: 2px dashed black;
}

div.ribbon {
	position: fixed;
	left: 210px;
	top: -10px;
}

div.topcorner {
	position: fixed;
	left: -2px;
	top: -2px;
	background-repeat: no-repeat;
}

div.leftcorner {
	position: fixed;
	left: -2px;
	bottom: -5px;
	background-repeat: no-repeat;
}
