/*Gallery Page*/

section.contact {
	position: fixed;
	left 	: 225px;
	bottom 	: 0;
	top 	: 0;
	width		: 500px;
	min-height	: 500px;
	padding		: 10px;
	background-color: rgba(0,0,0,0.8);
	border-right	: 8px solid gray;
	z-index: -5;
}

section.contact > a {
	display	: block;
	position: absolute;
	right 	: 20px;
	top 	: 20px;
	z-index	: 3;
}

section.contact section.head{
	color 		: #ddd;
	padding		: 10px;
	line-height	: 100px;
	min-height	: 180px;
	text-transform	:uppercase;
	text-transform  : capitalize;
	border-bottom	: 1px solid #aaa;
	text-shadow		:1px 1px 1px gray;
	-webkit-font-smoothing : antialiased;
	-mos-font-smoothing : antialiased;
	-ms-font-smoothing : antialiased;
	-o-font-smoothing : antialiased;
	font-smoothing : antialiased;
}

section.contact section.disc {
	color: #ccc;
	min-height	: 50px;
}

section.contact div.gallery {
	min-height	: 200px;
	padding		: 10px;
	color		: white;
	text-shadow	: 0 -1px 0 black;
	font-size	: 16px;
	line-height	: 1.625em;
	font-family	: "Open Sans", "lucida grande", tahoma, sans-serif;
	font-weight	: 600;
	-webkit-font-smoothing : antialiased;
}

section.contact div.gallery a {
	float		: left;
	display		: block;
	margin-right: 10px;
}

section.contact div.copyright {
	color 		: #bbb;
	min-height	: 45px;
}

div.ribbon,
div.topcorner,
div.leftcorner,
div.cornerright,
div.cornerrightb {
	position: fixed;
	background-repeat: no-repeat;
}

div.ribbon {
	left 	: 210px;
	top 	: -10px;
	z-index	: 2; 
}

div.topcorner {
	left 	: -2px;
	top 	: -2px;
}

div.leftcorner {
	position: fixed;
	left 	: -2px;
	bottom 	: -5px;
}

div.cornerright {
	left 	: 720px;
	top 	: -1px;
}

div.cornerrightb {
	left 	: 720px;
	bottom 	: -5px;
}