body {
	position : fixed;
	left     : 0;
	right    : 0;
	top      : 0;
	bottom   : 0;
	z-index	 :-1;
	background-image    : url('../images/Moriokamen.jpg');
	background-repeat   : no-repeat;
	background-size     : cover;
	background-position : center top;
}

/*Menu*/

div.menu {
	position: fixed;
	left: 0;
	bottom: 0;
	top: 0;
	padding-top: 31px;
	width: 220px;
	min-height: 650px;
	outline: 2px solid black;
	background-color: #111;
	opacity: 0.9;
	border-left: 5px solid gray;
	z-index: -2;
}

div.logo {
	margin-left: 25px;
	width: 165px;
	height: 165px;
}

nav.menu {
	margin-top: 25px;
	margin-left: 15px;
	width: 187px;
	min-height: 300px;
}

nav.menu li {
	border-bottom: 1px solid gray;
	padding-top  : 10px;
}

nav.menu li:hover {
	background-color: #191919;
}

nav.menu li a {
	color  : #eee;
	display: block;
	padding: 15px;
	text-decoration	: none;
	text-align 		: left;
}

nav.menu li a span {
	position: absolute;
	left: 15px;
	font-weight  : bold;
	margin-bottom: 5px;
	text-align: left;
	display: block;
	color  : #888;
	margin-top : -15px;
	margin-left: 15px;
}

nav.menu #backgallery {
	background-color: #191919;
}

div.icon {
	margin: 40px auto 0;
	width: 170px;
	height: 40px;
	padding-left: 20px; 
}

div.text {
	position 	: absolute;
	right 		: 20px;
	top 		: 20px;
	width		: 350px;
	min-height	: 120px;
	/*outline		: 2px dashed black;*/
	background-color: #333;
	opacity: 0.4;
}


/*Gallery Page*/

section.contact {
	position: fixed;
	left: 225px;
	bottom: 0;
	top: 0;
	width		: 500px;
	min-height	: 500px;
	padding		: 10px;
	opacity		: 0.9;
	background-color: #111;
	border-right: 8px solid gray;
	overflow 		 : scroll;
	overflow-x		 : hidden;
}

section.contact > a {
	display: block;
	position: absolute;
	right: 15px;
	top: 15px;
	z-index: 3;
}

section.contact section.head{
	min-height	: 180px;
	padding		: 10px;
	text-transform  : capitalize;
	color: #ddd;
	-webkit-font-smoothing : antialiased;
	border-bottom: 1px solid #aaa;
	line-height: 100px;
}

section.contact section.disc {
	min-height	: 50px;
	color: #ccc;
}

section.contact div.gallery {
	min-height	: 200px;
	/*padding		: 10px;*/
	color		: white;
	text-shadow	: 0 -1px 0 black;
	font-size	: 16px;
	line-height	: 1.625em;
	font-family	: "Open Sans", "lucida grande", tahoma, sans-serif;
	font-weight	: 600;
	-webkit-font-smoothing : antialiased;
}

section.contact div.gallery a {
	display		 : block;
	float 		 : left;
	margin-right : 10px;
}

section.contact div.copyright {
	min-height	: 45px;
	color: #bbb;
}

div.ribbon {
	position: fixed;
	left: 210px;
	top: -10px;
	z-index: 2; 
}

div.topcorner {
	position: fixed;
	left: -2px;
	top: -2px;
	background-repeat: no-repeat;
}

div.leftcorner {
	position: fixed;
	left: -2px;
	bottom: -5px;
	background-repeat: no-repeat;
}

div.cornerright {
	position: fixed;
	left: 720px;
	top: -1px;
	background-repeat: no-repeat;
}

div.cornerrightb {
	position: fixed;
	left: 720px;
	bottom: -5px;
	background-repeat: no-repeat;
}