body {
	position : fixed;
	left     : 0;
	right    : 0;
	top      : 0;
	bottom   : 0;
	z-index	 :-1;
	background-image    : url('../images/Moriokamen.jpg');
	background-repeat   : no-repeat;
	background-size     : cover;
	background-position : center top;
}

div.menu {
	position: fixed;
	left: 0;
	bottom: 0;
	top: 0;
	padding-top: 31px;
	width: 220px;
	min-height: 650px;
	outline: 2px solid black;
	background-color: rgba(0,0,0,0.8);
	border-left: 5px solid gray;
	z-index: -2;
}

div.logo {
	margin-left: 25px;
	width: 165px;
	height: 165px;
}

nav.menu {
	margin-top: 25px;
	margin-left: 15px;
	width: 187px;
	min-height: 300px;
}

nav.menu li {
	border-bottom: 1px solid gray;
}

nav.menu li a {
	display: block;
	color: #888;
	padding: 15px;
	text-decoration : none;
}

nav.menu span {
	display: block;
	color: #eee;
	font-weight: bold;
	padding-bottom: 3px;
	text-transform:uppercase;
	-webkit-transform:scale(1,1.5);
	-moz-transform:scale(1,1.5);
	-ms-transform:scale(1,1.5);
	-o-transform:scale(1,1.5);
	transform:scale(1,1.5);
}

div.icon {
	margin: 40px auto 0;
	width: 170px;
	height: 40px;
	padding-left: 20px; 
}

div.text {
	position 	: absolute;
	right 		: 20px;
	top 		: 20px;
	width		: 350px;
	min-height	: 120px;
	outline		: 2px dashed black;
}

/*Contact Us*/

section.contact {
	position: fixed;
	left: 0;
	bottom: 0;
	top: 0;
	width		: 500px;
	min-height	: 500px;
	padding		: 10px;
	margin-left: 225px;
	background-color: rgba(0,0,0,0.8);
	border-right: 8px solid gray;
}

section.head{
	outline		: 1px dashed blue;
	min-height	: 160px;
	padding		: 10px;
}

section.address{
	outline		: 1px dashed blue;
	min-height	: 170px;
	padding		: 10px;
}

section.newyork{
	outline		: 1px dashed blue;
	min-height	: 170px;
}

section.california{
	outline		: 1px dashed blue;
	min-height	: 170px;
}

div.message {
	outline		: 1px dashed blue;
	min-height	: 400px;
	padding		: 10px;
}

section.name {
	outline		: 1px dashed blue;
	min-height	: 30px;
}

section.email {
	outline		: 1px dashed blue;
	min-height	: 30px;
}

section.text {
	outline		: 1px dashed blue;
	min-height	: 300px;
}

section.send {
	outline		: 1px dashed blue;
	min-height	: 35px;
}

div.copyright {
	outline		: 1px dashed blue;
	min-height	: 45px;
}

div.ribbon,
div.topcorner,
div.leftcorner,
div.cornerright,
div.cornerrightb {
	position: fixed;
	background-repeat: no-repeat;
}

div.ribbon {
	left 	: 210px;
	top 	: -10px;
	z-index	: 2; 
}

div.topcorner {
	left 	: -2px;
	top 	: -2px;
}

div.leftcorner {
	position: fixed;
	left 	: -2px;
	bottom 	: -5px;
}

div.cornerright {
	left 	: 720px;
	top 	: -1px;
}

div.cornerrightb {
	left 	: 720px;
	bottom 	: -5px;
}